# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:secret@localhost:3306/navegamlog2-db"
PORT=8080
JWT_SECRET="jwt-secret"
CRYPTO_SALT=10
SENDGRID_API_URL=https://api.sendgrid.com
SENDGRID_API_KEY=sendgrid-api-key
AWS_ACCESS_KEY_ID="access-key-id"
AWS_SECRET_ACCESS_KEY="secret-access-key"
AWS_S3_BUCKET="bucket-names"
FORGOT_PASSWORD_TEMPLATE_ID=
SIGNUP_CORRECTION_TEMPLATE_ID=
WEBPAGE_URL=